html {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #212228;
    color: white;
}

.sub-color {
    color: #44CBE1;
}

.nav-link {
    font-weight: 700;
}

.nav-link.active {
    background-color: transparent !important;
    color: #44CBE1 !important;
  }

.home-section-bg {
    position: relative;
    /* height: 100vh; */
    overflow: hidden; 
}

.home-section-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../img/IMG_6520.png');
    background-size: cover;
    background-position: bottom;
    opacity: 0.5;
    z-index: -1;
}

#home-section h1 {
    font-size: 4rem;
    font-weight: 700;
}

#profile-section {
    background-color: #26272E;
}

#profile-section h2 {
    font-weight: 700;
}

#profile-section .img-fluid {
    width: 70%;
}

@media screen and (max-width: 992px) {
    #profile-section .img-fluid {
        width: 50%;
    }
}

.detail {
    font-weight: 700;
}

#skills-section .card {
    background-color: #26272E;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.3);
}

#skills-section .sub-color {
    font-weight: 700;
}

.progress {
    background-color: white;
}

.progress-bar {
    background-color: #44CBE1;
}

#skills-section h1 {
    font-size: 4rem;
    font-weight: 700;
}

#skills-section .bi {
    font-size: 50px;
}

#experiences-section .card {
    background-color: #26272E;
}

.horizontal-line {
    border: none;
    height: 2px;
    background-color: white;
}

#projects-section .card {
    background-color: #26272E;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.3);
}

#footer {
    background-color: #26272E;
}

#footer .bi {
    font-size: 2rem;
}

#footer h1 {
    font-size: 4rem;
}

/* Timeline */
/* The actual timeline (the vertical ruler) */
.main-timeline-4 {
    position: relative;
}

/* The actual timeline (the vertical ruler) */
.main-timeline-4::after {
    content: "";
    position: absolute;
    width: 3px;
    background-color: #bbb;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.timeline-4 {
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.timeline-4::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -11px;
    background-color: #bbb;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left-4 {
    padding: 0px 40px 20px 0px;
    left: 0;
}

/* Place the container to the right */
.right-4 {
    padding: 0px 0px 20px 40px;
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left-4::before {
    content: " ";
    position: absolute;
    top: 18px;
    z-index: 1;
    right: 30px;
    border: medium solid #212228;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #212228;
}

/* Add arrows to the right container (pointing left) */
.right-4::before {
    content: " ";
    position: absolute;
    top: 18px;
    z-index: 1;
    left: 30px;
    border: medium solid #212228;
    border-width: 10px 10px 10px 0;
    border-color: transparent #212228 transparent transparent;
}

/* Fix the circle for containers on the right side */
.right-4::after {
    left: -14px;
}

/* Media queries - Responsive timeline on screens less than 768px wide */
@media screen and (max-width: 768px) {

    /* Place the timelime to the left */
    .main-timeline-4::after {
        left: 31px;
    }

    /* Full-width containers */
    .timeline-4 {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .timeline-4::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left-4::after,
    .right-4::after {
        left: 18px;
    }

    .left-4::before {
        right: auto;
    }

    /* Make all right containers behave like the left ones */
    .right-4 {
        left: 0%;
    }
}

#education-section {
    background-color: #26272E;
}

#education-section .card {
    background-color: #212228;
}

.timeline-4 .card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.3);
}

.button-primary {
    background-color: #44CBE1;
    border-color: #44CBE1;
    color: white;
    font-weight: 700;
    font-size: 0.8rem;
    border-width: 3px;
}

.button-primary:hover {
    background-color: white;
    color: #44CBE1;
    border-color: #44CBE1;
    border-width: 3px;
}

.icon-link a {
    text-decoration: none;
    color: white;
}

.clickable {
    cursor: pointer;
}